.App {
  text-align: center;
  font-family: 'Roboto', ;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.btn-black {
	color: #FFF;
	background-color: #000000;
	border-color: #222222;
}
.btn-red {
	color: #FFF;
	background-color: #D9534F;
	border-color: #AC2925;
}
.btn-green {
	color: #FFF;
	background-color: #449D44;
	border-color: #398439;
}
.cold { background-color: #D9EDF7 }
.hot { background-color: #F2DEDE; }
.statsView {
  margin-top: 40px;
  box-shadow: 0 0 5px #d2d2d2;
  padding: 30px 40px 30px 40px;
  border-radius: 5px;
}
.statsView .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #fff;
  box-shadow: 0 0 3px #dadada;
  border-radius: 4px;
  width: 35px;
  height: 31px;
  padding: 0;
  text-align: center;
  font-weight: 400;
  vertical-align: middle;
}
.boardView {
  margin-top: 40px;
  box-shadow: 0 0 5px #d2d2d2;
  padding: 25px;
  border-radius: 5px;
}
.boardItems button {
  width: 10%;
  height: 44px;
  border-radius: 5px;
  margin: 2px;
  box-shadow: 0 0 10px #807f7f;
}
.boardView .title{
  font-size: 20px;
}
.loading-wrapper {
  height: 100%;
}
.history-list {
  max-height: 240px;
  background: white;
  overflow-y: auto;
  box-shadow: 0 0 4px #d8d8d8;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.history-list p {
  padding: 8px 30px;
  margin: 0;
  box-shadow: 0 0 1px #c5bebe;
}
.cown-down {
  padding: 8px 30px;
  box-shadow: 0 0 4px #cac9c9;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  background: #d9534f;
  border-bottom-right-radius: 0;
  color: white;
  font-weight: 400;
}
.result-element {
  color: white;
  animation: blink 1s linear;
  animation-iteration-count: 5;
}
@keyframes blink{
0%{opacity: 0; background: #ffffff; color: #000000}
50%{opacity: .5;background: #ffffff; color: #000000}
100%{opacity: 1;background: inherit; color: inherit}
}
